@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&family=Roboto:wght@400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.w-screen {
  width: 100vw;
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background: #4f4f4f;
}
::-webkit-scrollbar-thumb {
  background: #6f6f6f;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7f7f7f;
}

.navbar-scrolled {
  @apply py-1.5;
}
.navbar-scrolled #OM {
  @apply text-3xl mx-3;
}
.navbar-scrolled pre {
  @apply text-xl mx-4;
}

.text-shadow {
  text-shadow: 0 0.5rem 0 rgba(255, 255, 255, 0.3);
}
